
div#logo{
    width: 115%;
    height: 200px;
    text-align: left;
    margin-left: 30px;
}

.download{
    height: 50px;
    float: right;
    font-family: 'Montserrat', sans-serif; 
    font-size: 18px;
}   

.download:hover{
    animation: bounce .4s;
}

@keyframes bounce{
    10%, 40%, 70%{
        transform: translateY(-10px);
    }
    25%, 55%, 85%{
        transform: translateY(10px);
    }
}

img{
    padding: 18px;
}

div#tema{
    margin-left: 28%;
    width: 778px;
    height: 200px;
    font-family: 'Montserrat', sans-serif;
    font-size: 35px;
    text-align: center;
}

.vermelho{
    color: rgb(158, 17, 17);
}

body{
    width: 80%;
    height: 1500px;
    background-image: url(bg.png);
}

div#funcionamento{
    width: 80%;
    margin-left: 15%;
    height: 200px;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    text-align: left;
}

div#restaurante{
    width: 250px;
    height: 100px;
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    text-align: center;
    line-height: 100px;
    margin-left: 10%;
}

div#pedido{
    width: 400px;
    height: 200px;
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    text-align: center;
    line-height: 100px ;
    float: right;
}

div#cashback{
    width: 400px;
    height: 100px;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    text-align: center;
    line-height: 100px;
    margin-left: 10%;
    margin-top: 150px;
}

footer{
    margin-top: 200px;
    width: 124%;
    height: 100px;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    text-align: center;
}

footer h1{
    margin-left: 35px;
    color: rgb(158, 17, 17)
}

.redes_sociais ul li{
    display: inline-block;
    list-style: none;
}

blockquote{
    color:white;
    width: 400px;
    height: 100px;
    background: rgb(158, 17, 17);
    border-radius: 10px;
}  

[data-anime]{
    opacity: 0;
    transition: .3s;
}

[data-anime="left"]{
    transform: translate3d(-50px, 0, 0);
}

[data-anime="right"]{
    transform: translate3d(50px, 0, 0);
}

[data-anime].animate {
    opacity: 1;
    transform: translate3d(0px, 0px, 0px);
}

